<main class="main">
  <div class="content">
    <div class="toolbar">
      <mat-toolbar class="main-toolbar">
        <div class="current-date-container">
          @if((currentDate$ | async) && (currentTime$ | async)) {
            <span>Сьогодні {{ currentDate$ | async }} року, час: <b>{{ currentTime$ | async }}</b></span>
          } @else {
            <span>Зачекайте трошки...</span>
          }
        </div>

        <div class="spacer">
          @if(calendarType.value === 'month') {
            <mat-form-field>
              <mat-label>Місяць</mat-label>
              <mat-select [formControl]="monthsList" (selectionChange)="setShowedMonth($event.value)">
                @for(month of months; track month) {
                  <mat-option [value]="$index">{{ month }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          }

        </div>
        <mat-form-field>
          <mat-label>Тип календаря</mat-label>
          <mat-select [formControl]="calendarType" (selectionChange)="setCalendarType($event.value)">
            <mat-option value="week">Тиждень</mat-option>
            <mat-option value="month">Місяць</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-toolbar>
    </div>
    <div class="divider"><mat-divider/></div>
    <div class="calendar-container">
      <app-calendar [calendarType]="calendarType.value"/>
    </div>
  </div>
</main>
