:host {
  mat-card-header {
    position: relative;
  }

  .days-card {
    margin: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);

    &:hover {
      margin: 0;
      border: 5px solid blue;
    }
  }

  .today {
    margin: 0;
    background-color: rgba(76, 0, 255, 0.336);
  }

  .tile:not(.previous-month-day) {
    cursor: pointer;
  }

  .previous-month-day {
    opacity: .5;
    cursor: default;

    .days-card:hover {
      margin: 5px;
      border: none;
    }
  }

  .holiday {
    background-color: rgba(255, 0, 0, 0.199);
  }

  .holiday-plus-today {
    background-color: rgba(72, 255, 0, 0.199);
  }

  .bage-container {
    position: absolute;
    top: 5px;
    left: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .bage {
    height: 18px;
    padding: 5px;
    font-weight: 500;
    color: white;
    background-color: red;
    border: 1px solid white;
    border-radius: 4px;

  }
}

